doctype html
html
  head
    title Conekta example
  body
    block content
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(type="text/javascript", data-conekta-public-key="key_KJysdbf6PotS2ut2", src="https://conektaapi.s3.amazonaws.com/v0.5.0/js/conekta.js")
    block script
